<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sportzon.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>607ED6ECD369F9E4D4FA9E4C3F723E566F9CA234</string>
				<key>dateExpires</key>
				<string>15/05/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>607ED6ECD369F9E4D4FA9E4C3F723E566F9CA234</string>
						<key>dateExpires</key>
						<string>15/05/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUTG5G393A</string>
						<key>name</key>
						<string>Ishita Chandra</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>607ED6ECD369F9E4D4FA9E4C3F723E566F9CA234</string>
						<key>dateExpires</key>
						<string>15/05/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUTG5G393A</string>
						<key>name</key>
						<string>Ishita Chandra</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PUTG5G393A.org.SportZone.com</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>PUTG5G393A</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Sportzon.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cf635b60-22bc-4095-8428-a5106ad870dd</string>
				<key>dateExpires</key>
				<string>15/05/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: org.SportZone.com</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PUTG5G393A</string>
				<key>name</key>
				<string>Ishita Chandra</string>
			</dict>
			<key>versionNumber</key>
			<string>1.3</string>
		</dict>
	</array>
</dict>
</plist>
